@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@layer components {
	.sidebar-icon {
		@apply relative flex items-center justify-center 
    h-12 w-12 mt-2 mb-2 mx-auto  
  bg-gray-400 hover:bg-purple-500 dark:bg-gray-800 
  text-purple-400 hover:text-white
    hover:rounded-xl rounded-3xl
    transition-all duration-300 ease-linear
    cursor-pointer shadow-lg;
	}

	.sidebar-tooltip {
		@apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold z-10
    transition-all duration-150 scale-0 origin-left;
	}

	.sidebar-hr {
		@apply bg-gray-300/80 dark:bg-gray-800 
    border border-gray-300/80 dark:border-gray-800 rounded-full w-full h-px mx-2;
	}

	.top-navigation {
		@apply flex flex-row items-center justify-evenly 
    bg-gray-300 dark:bg-gray-800 bg-opacity-90 
    w-full h-16 
    m-0 
    shadow-lg;
	}

	.top-navigation-icon {
		@apply text-gray-500
    mr-3 ml-4
    transition duration-300 ease-in-out 
    hover:text-pink-400 
    cursor-pointer;
	}

	.top-navigation-icon:first {
		@apply ml-auto mr-4;
	}

	.title-hashtag {
		@apply text-lg tracking-wider font-semibold text-gray-500 
    ml-2 my-auto;
	}

	.title-text {
		@apply text-xl text-gray-500 tracking-wider font-semibold text-opacity-80 
    mr-2 md:mr-auto ml-20 my-auto hidden md:block
    transition duration-300 ease-in-out;
	}

	.search {
		@apply flex items-center justify-start 
    bg-gray-400 dark:bg-gray-600
    text-gray-500
    px-2 h-9 ml-0 mr-0 
    rounded-md shadow-md
    transition duration-300 ease-in-out;
	}

	.search-input {
		@apply w-full font-sans font-semibold
    bg-transparent outline-transparent
    focus:border-transparent focus:ring-0
    text-gray-500  placeholder-gray-500
    border-none pl-1 rounded;
	}

	.avatar-wrapper {
		@apply flex flex-col items-center
    w-12 
    m-0 ml-auto mb-auto;
	}

	.avatar {
		@apply flex-none
    w-12 h-full 
    rounded-full shadow-md
    object-cover bg-gray-100 
    mb-auto mt-0 mx-0 
    cursor-pointer;
	}
}

::-webkit-scrollbar {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	@apply bg-gray-500 dark:bg-purple-700 dark:opacity-50;
}
